[submodule "libs/taskflow"]
	path = libs/taskflow
	url = https://github.com/taskflow/taskflow.git
[submodule "libs/curlpp"]
	path = libs/curlpp
	url = https://github.com/jpbarrette/curlpp.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libs/xerces-c"]
	path = libs/xerces-c
	url = https://github.com/apache/xerces-c.git
