[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "libs/taskflow"]
	path = libs/taskflow
	url = https://github.com/taskflow/taskflow.git
[submodule "libs/curlpp"]
	path = libs/curlpp
	url = https://github.com/jpbarrette/curlpp.git
